extends layout

block css
  link(href='css/lige.me.css', rel='stylesheet')

block content
  .container
    .spacer20
    .row
      .span2
      .span8
        h3 Education
        ul
          li
            b University of California, San Diego
            | , La Jolla, CA, United States
            br
            | Ph.D. Candidate in Structural Engineering, started in Fall 2010.
          li
            b University of California, San Diego
            | , La Jolla, CA, United States
            br
            | M.S. in Structural Engineering, 2013.
          li
            b Tsinghua University
            | , Beijing, China
            br
            | B.S. in Hydraulic Engineering, 2010.

        h3 Awards
        ul
          li Graduate Student Researcher, University of California, San Diego, 2011 -- 2013
          li Research Award, University of California, San Diego, 2010 -- 2011
          li 3rd prize in 7th National Zhou Peiyuan Mechanics Competition of China, 2009
          li Scholarship of Yalong River Hydropower Development, 2008
          li Scholarship of Comprehensive Excellence, Tsinghua University ,2007
          li Scholarship of Freshman, Tsinghua University, 2007
          li 2nd prize in 24th National Undergraduate Physical Contest of China, 2007
          li
            | Sports Star, Tsinghua University (Granted to 10 most outstanding athletes only), 2009
        p
          | Here is a pdf version of my&nbsp
          a(href='resume/resume.pdf') resume
          | .
      .span2
