extends layout

block css
  link(href='css/lige.me.css', rel='stylesheet')

block content
  .container
    .spacer20
    .spacer5
    .row
      .span2
      .span5
        h1 Li Ge (葛力)
        p
          | PhD student (2010 - now) at&nbsp
          a(href='http://www.ucsd.edu/') University of Califonia, San Diego
        address
          strong Email:
          br
          a(href='mailto:lge@ucsd.edu', target='_blank') lge@ucsd.edu

        address
          strong Office:
          br
          a(href='https://maps.google.com/?q=32.8828,-117.234912', target='_blank')
            | Calit2 Atkinson Hall
          | ,&nbspsecond floor, open area near the&nbsp
          a(href='http://vis.ucsd.edu/~cglx', target='_blank') HIPerWall
          | .

        address
          strong Mail:
          br
          | Department of Structural Engineering
          br
          | Irwin & Joan Jacobs School of Engineering
          br
          | University of California, San Diego
          br
          | 9500 Gilman Drive, Mail Code 0085
          br
          | La Jolla, CA 92093-0085
          br
          | United States

      .span3
        a.thumbnail(href='img/profile.jpg')
          img#profile(src='img/profile.jpg')
      .span2

    .spacer5

    .row
      .span2
      .span8
         p
           | I am a PhD student in&nbsp
           a(href='http://structures.ucsd.edu/', target='_blank')
             | Department of Structural Engineering
           | &nbspat&nbsp
           a(href='http://www.ucsd.edu/', target='_blank')
             | University of Califonia, San Diego
           | . My adviser is Professor&nbsp
           a(href='http://vis.ucsd.edu/mediawiki/index.php/Research_Profile:_Falko_Kuester', target='_blank')
             | Falko Kuester
           | .
         p
           | My research interests are simulation-based engineering, computational mechanics,
           | computer graphics, cloud computing and human-computer interaction.
         p
           | I am a big fan of open source software.
           | I have enjoyed a considerable boost to my research from many open source projects,
           | and I also try to make the libraries and toolkit that I created available and reusable to others.
      .span2

    .row
      .span2
      .span8
        h2 Projects
        ul
          li
            a(href='http://vision2.ucsd.edu:8005', target='_blank') ARStructure
            | &nbsp
            | Augmented structure modeling, simulation and visualization environment.
            | User can defined 3D structure models via sketch-based modeling interface, model can be simulated
            | and visualized interactively. Model visualizations can be placed and aligned with real objects
            | in the scene from mobile camera, enhancing user's perception. The model
            | data is synchronized across multiple clients, allowing collaborations from different perspectives.
            | The Finite Element simulation of the structure model is performed on the server, data events are
            | published to subscribed clients for each analysis step, clients side visualization updates in
            | real-time.

          li
            a(href='http://vision2.ucsd.edu', target='_blank') SketchIT
            | &nbsp
            | A Sketch-based modeling and simulation environment for 2D structural analysis. SketchIT
            | allows user easily and quickly construct a conceptual structure model by simply sketching.
            | It is a cloud-centric
            | application that can be ran in a web browser without any extra installation. The constructed
            | model can be interactively simulated and visualized, gives user immediate feedback.
            | Video demos can be found here:&nbsp
            a(href='http://www.youtube.com/watch?v=v0Z8Bou6g1A', target='_blank') iwcce2013
            |,&nbsp
            a(href='http://www.youtube.com/watch?v=TGrxGoNXWQc', target='_blank') static analysis
            |,&nbsp
            a(href='http://www.youtube.com/watch?v=3oChhScuEKE', target='_blank') dynamic analysis
            | .
          li
            a(href='https://bitbucket.org/lge/ifea.git', target='_blank') ISE
            | &nbsp
            b I
            | ntegrative&nbsp
            b S
            | imulation&nbsp
            b E
            | nvironment.
            | It is the base framework upon which applications like SketchIT and ARStructure are built.
            | It has a client-server structure with a simple JSON-based protocol. The services
            | are mainly implemented in&nbsp
            a(href='http://nodejs.org/', target='_blank') Node.js
            | &nbsp, a high performance event-driven server-side software system. Client is powered by&nbsp
            a(href='http://en.wikipedia.org/wiki/HTML5', target='_blank') HTML5
            | &nbsp(
            a(href='http://en.wikipedia.org/wiki/Canvas_element', target='_blank') Canvas
            | ,&nbsp
            a(href='http://en.wikipedia.org/wiki/WebSocket', target='_blank') Websockets
            | ).
          li
            a(href='https://github.com/lge88/node-opensees', target='_blank') node-opensees
            | &nbspNode.js binding for&nbsp
            a(href='http://opensees.berkeley.edu', target='_blank') OpenSees
            | &nbsp(
            b Open
            b &nbspS
            | ystem for
            b &nbspE
            | arthquake
            b &nbspE
            | ngineering
            b &nbspS
            | imulation).
          li
            a(href='https://github.com/lge88/node-gmsh', target='_blank') node-gmsh
            | &nbspNode.js binding for&nbsp
            a(href='http://geuz.org/gmsh/', target='_blank') Gmsh
            | , an open source three-dimensional finite element mesh generator.
      .span2

    .row
      .span2
      .span8
        h2 Links
        ul
          li
            a(href='https://github.com/lge88', target='_blank') github
          li
            a(href='https://npmjs.org/~lge', target='_blank') npm
          li
            a(href='http://glvision.blogspot.com/', target='_blank') blog
          li
            | Gmail:&nbsp
            a(href='mailto:geli19880206@gmail.com', target='_blank') geli19880206@gmail.com
          li
            a(href='https://twitter.com/lge88/', target='_blank') twitter
            | ,&nbsp
            a(href='https://twitter.com/lge88/', target='_blank') renren
            | ,&nbsp
            a(href='https://twitter.com/lge88/', target='_blank') facebook
          li
            a(href='https://www.youtube.com/watch?v=RrI25ySmOVU', target='_blank') Dunk at RIMAC

      .span2
