extends layout

block css
  link(href='css/lige.me.css', rel='stylesheet')

block content
  .container
    .spacer20
    .spacer5
    .row
      .span2
      .span5
        h1 Li Ge (葛力)
        p
          | PhD student (2010 - now) at&nbsp
          a(href='http://www.ucsd.edu/') University of Califonia, San Diego
        address
          strong Email:
          br
          a(href='mailto:lge@ucsd.edu', target='_blank') lge@ucsd.edu

        address
          strong Office:
          br
          a(href='https://maps.google.com/?q=32.8828,-117.234912', target='_blank')
            | Calit2 Atkinson Hall
          | , second floor, open area near the&nbsp
          a(href='http://vis.ucsd.edu/~cglx', target='_blank') HIPerWall
          | .

        address
          strong Mail:
          br
          | Department of Structural Engineering
          br
          | Irwin & Joan Jacobs School of Engineering
          br
          | University of California, San Diego
          br
          | 9500 Gilman Drive, Mail Code 0085
          br
          | La Jolla, CA 92093-0085
          br
          | United States

      .span3
        a.thumbnail(href='img/profile.jpg')
          img#profile(src='img/profile.jpg')

      .span2

    .spacer5

    .row
      .span2
      .span8
         p
           | I am a PhD student in&nbsp
           a(href='http://structures.ucsd.edu/', target='_blank')
             | Department of Structural Engineering
           | &nbspat&nbsp
           a(href='http://www.ucsd.edu/', target='_blank')
             | University of Califonia, San Diego
           | . My advisor is Professor&nbsp
           a(href='http://vis.ucsd.edu/mediawiki/index.php/Research_Profile:_Falko_Kuester', target='_blank')
             | Falko Kuester
           | .
         p
           | My research interests are simulation-based engineering, computational mechanics,
           | computer graphics, cloud computering and human-computer interaction.
         p
           | I am a big fan of open source softwares.
           | I have enjoyed a considerable boost to my research from many open source projects,
           | and I also try to make the libraries and toolkits that I created available and reusable to others.
      .span2

    .row
      .span2
      .span8
        h2 Projects
        ul
          li
            a(href='http://vision2.ucsd.edu:8005/ar-structure', target='_blank') ARStructure
            |  3D structure modeling and simulation system in augumented reality environment. ARStructure is a mobile
            | application that allows user to build, simulate and visualize structure model on top of the real camera scene.
            | The constructed model, as well as the simulation results, are augumented and overlaped with the real object,
            | presenting an intuitive and interesting aspect to understand the structure behaviour.
          li
            a(href='http://vision2.ucsd.edu', target='_blank') SketchIT
            |  A Sketch-based modeling and simulation enviroment for structural analysis. SketchIT allows user easily and quickly
            | construct a conceptual structure model by sketching. The constructed model can be simulated and visualized on the fly.
            | The simulation runs on the remote server using FEM (<b>F</b>inite <b>E</b>lement <b>M</b>ethod).
            | Video demos can be found here:
            | <a href='http://www.youtube.com/watch?v=TGrxGoNXWQc', target='_blank'>staic analysis</a>
            | , <a href='http://www.youtube.com/watch?v=3oChhScuEKE', target='_blank'>dynamic analysis</a>.
          li
            a(href='https://bitbucket.org/lge/ifea', target='_blank') IFEA
            |  <b>I</b>ntegrated
            | <a href='http://en.wikipedia.org/wiki/Finite_element_method', target='_blank'><b>F</b>inite <b>E</b>lement <b>A</b>nalysis</a>
            | web framework. IFEA is the foundation upon which SketchIT and ARStructure are built.
            | IFEA offers services to common tasks in FEA process such as 3D modeling, mesh generation, simulation, result visualization and data
            | sharing via a simple JSON-based API. The services
            | are mainly implemented in <a href='http://nodejs.org/', target='_blank'>Node.js</a>,
            | a high performance event-driven server-side software system. IFEA also provides a collection of
            | reusable web components (HTML, css, Javascript) that take the advantage of latest web technology
            | (<a href='http://en.wikipedia.org/wiki/HTML5', target='_blank'>HTML5</a>,
            | <a href='http://en.wikipedia.org/wiki/WebGL', target='_blank'>WebGL</a>,
            | <a href='http://en.wikipedia.org/wiki/WebSocket', target='_blank'>WebSocket</a>) to build rich web interface.
          li
            a(href='https://github.com/lge88/node-opensees', target='_blank') node-opensees
            |  Node.js binding for <a href='http://opensees.berkeley.edu', target='_blank'>OpenSees</a>
            | (<b>Open</b> <b>S</b>ystem for <b>E</b>arthquake <b>E</b>ngineering <b>S</b>imulation). The default
            | FEA solver for IFEA.
          li
            a(href='https://github.com/lge88/node-gmsh', target='_blank') node-gmsh
            |  Node.js binding for <a href='http://geuz.org/gmsh/', target='_blank'>Gmsh</a>,
            | an open source three-dimensional finite element mesh generator. The default mesh generator for IFEA.
      .span2

    .row
      .span2
      .span8
        h2 Links
        ul
          li
            a(href='https://github.com/lge88', target='_blank') github
          li
            a(href='https://npmjs.org/~lge', target='_blank') npm
          li
            a(href='http://glvision.blogspot.com/', target='_blank') blog
          li
            | Gmail:&nbsp
            a(href='mailto:geli19880206@gmail.com', target='_blank') geli19880206@gmail.com
          li
            a(href='https://twitter.com/lge88/', target='_blank') twitter
            | ,&nbsp
            a(href='https://twitter.com/lge88/', target='_blank') renren
            | ,&nbsp
            a(href='https://twitter.com/lge88/', target='_blank') facebook
          li
            a(href='https://www.youtube.com/watch?v=RrI25ySmOVU', target='_blank') Dunk at RIMAC

      .span2
