!!! 5
html(lang='en')
  head
    meta(charset='utf-8')
    title Li
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Li Ge\'s website')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/bootstrap-responsive.min.css', rel='stylesheet')
    block css

  body(data-spy='scroll', data-target='.bs-docs-sidebar')
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar

          .nav-collapse.collapse
            .span2
            ul.nav
              li(class=navClass.index)
                a(href='index.html') Home
              li(class=navClass.background)
                a(href='background.html') Background
              li(class=navClass.research)
                a(href='research.html') Research
              li(class=navClass.misc)
                a(href='misc.html') Misc

    block content

    hr
    .container
      footer.footer
        p
          | Host on&nbsp
          a(href="https://github.com/lge88/lige.me") GitHub
          // | &nbsp-&nbspTemplate by&nbsp
          // a(href="http://jade-lang.com") Jade
          // | &nbsp-&nbspTheme by&nbsp
          // a(href="http://twitter.github.io/bootstrap") Bootstrap

    script(src="js/jquery-1.10.1.min.js")
    script(src="js/bootstrap.min.js")
    block scripts
