extends layout

block css
  link(href='css/lige.me.css', rel='stylesheet')

block content
  .container
    .spacer20
    .row
      .span2
      .span8
        h3 Publications
        ul
          li
            | Ge, L. and Kuester, F. (2013) SketchIT: A Sketch-Based Modeling Environment for Structural Analysis. Computing in Civil Engineering (2013): pp. 833-840. doi: 10.1061/9780784413029.104
          li
            | Ge, L. and Kuester, F. (2014). "Integrative Simulation Environment for Conceptual Structural Analysis." J. Comput. Civ. Eng. , 10.1061/(ASCE)CP.1943-5487.0000405 , B4014004.
          li
            | Ge, L., and F. Kuester. "Augmented Reality Based Exploration of Structures." (2014).
          li
            | Vanoni, David, Li Ge, and Falko Kuester. "Intuitive Visualization of Reflectance Transformation Imaging for Interactive Analysis of Cultural Artifacts." Augmented and Virtual Reality. Springer International Publishing, 2014. 397-404.
      .span2
