extends layout

block css
  link(href='css/lige.me.css', rel='stylesheet')

block content
  .container
    .spacer20
    .row
      .span2
      .span8
        h3 Publications
        ul
          li
            | L. Ge and F. Kuester. SketchIT: A sketch-based modeling and simulation enviroment for structural analysis.
            | (Submitted to <a href="http://iwcce2013.usc.edu" target="_blank">IWCCE2013</a>)

      .span2
